@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

.root {
    background-color: #000000;
    font-family: 'Inter', ‘Arial’, sans-serif;
    max-width: 880px;
    margin: 0 auto;
    padding: 0 19px;
}

/* @media screen {
    min-width: 319px;
}

min-width: 320px; */

/* ----- */
.header {
    padding: 45px 0 41px;
    border-bottom: 1px solid #545454;
    margin: 0 auto 40px;
}

.header__logo {
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 618px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }
}

/* ----- */
.profile {
    margin: 0 0 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    max-width: 880px;
}

.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: 0;
    margin: 0 30px 0 0;
    border-style: none;
}

.profile__info {
    display: flex;
    max-width: calc(100% - 300px);
    margin-right: auto;
    align-items: center;
    flex-wrap: wrap;

}

.profile__name {
    padding: 0;
    margin: 0 0 16px;
    max-width: 75%;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__about {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button {
    padding: 0;
    margin: 0 0 9px 18px;
    width: 24px;
    height: 24px;
    background-image: url(./images/edit-button-web.svg);
    background-color: transparent;
    border: solid 1px #fff;
    border-style: none;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__add-button {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    background: url(./images/add-button-web.svg);
    background-color: transparent;
    border: solid 1px #fff;
    border-style: none;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 618px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile__avatar-button {
        margin: 0 0 26px;
    }

    .profile__avatar {
        margin: 0 0 26px;

    }

    .profile__info {
        margin: 0;
        justify-content: center;
    }

    .profile__name {
        margin: 0 0 14px 0;
        text-align: center;
    }


    .profile__about {
        margin: 0 0 36px;
        text-align: center;
    }


    .profile__edit-button {
        margin: 0 0 0 10px;
        width: 18px;
        height: 18px;
        background: url(./images/edit-button-mobile.svg);
        /* как отцентрировать изображение в этом контейнере */
    }

    .profile__add-button {
        width: 282px;
        background: url(./images/add-button-mobile.svg);
    }
}

/* ----- */

.elements__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 20px 17px;
    max-width: 880px;
}

.elements__item {
    background-color: #fff;
    border-radius: 10px;
    height: 361px;
    max-width: 282px;
    margin: 0 auto;
    padding: 0;
}

.elements__image {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 282px;
    width: 282px;
    border-style: none;

}

.elements__block {
    display: flex;
    justify-content: space-between;
    width: 246px;
    margin: 25px 15px 31px 21px;
    align-items: center;
}

.elements__title {
    margin: 0;
    padding: 0;
    font-weight: 900px;
    font-size: 24px;
    line-height: 1.21;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
}

.elements__like-button {
    background-image: url(./images/like-disabled.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: solid 1px #000000;
    border-style: none;
    width: 22px;
    height: 19px;
    right: 5px;
    top: 5px;
    position: relative;
    cursor: pointer;

}

.elements__like-button:active {
    background-image: url(./images/like-active.svg);
}

/* ----- */
.popup {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup_opened {
    display: flex;
}

.popup__container {
    position: relative;
    max-width: 430px;
    max-height: 330px;
    padding: 34px 36px 37px;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 618px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }

}

.popup__close {
    margin: 0;
    padding: 0;
    background-image: url(./images/close-Icon-web.svg);
    width: 32px;
    height: 32px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 618px) {
    .popup__close {
        /* background-image: url(./images/close-Icon-mobile.svg); */
        width: 20px;
        height: 20px;
        right: 0;
        background-size: 20px;
    }
}

.popup__title {
    padding: 0;
    margin: 0 0 54px;
    color: #000000;
    max-width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;

}

@media screen and (max-width: 618px) {
    .popup__title {
        margin: 0 0 75px;
        padding: 0;
        max-width: 238px;
        font-size: 18px;
        line-height: 21.78px;
    }
}

.popup__form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
}

.popup__label {
    padding: 0;
}

.popup__input {
    margin: 0 0 30px;
    padding: 0 0 13px;
    width: 100%;
    border: none;
    /* outline: none; */
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    /* box-sizing: border-box; */
}

.popup__input:last-of-type {
    margin: 0 0 48px;
}

@media screen and (max-width: 618px) {
    .popup__input:last-of-type {
        margin: 0 0 45px;
    }
}

.popup__submit {
    margin: 0 auto;
    padding: 0;
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.87px;
    text-align: center;
    /* box-sizing: border-box; */
    border-radius: 2px;
    border: none;
    background: #000000;
    color: #fff;

}

.popup__submit {
    opacity: 0.8;
}

@media screen and (max-width: 618px) {
    .popup__submit {
        width: 238px;
        font-size: 14px;
        line-height: 16.94px;
    }
}

/* ----- */

.footer {
    padding: 67px 0 60px;
}

.footer__copyright {
    color: #545454;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;

}