.popup__container {
    position: relative;
    max-width: 430px;
    max-height: 330px;
    padding: 34px 36px 37px;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 618px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }

}