@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__wraper/profile__wraper.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__block/elements__block.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__like-button/elements__like-button.css);
@import url(../blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(../blocks/elements/__trash-button/elements__trash-button.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/_place/popup__close_place.css);
@import url(../blocks/popup/__close/_profile/popup__close_profile.css);
@import url(../blocks/popup/__close/_zoom/popup__close_zoom.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__zoom-container/popup__zoom-container.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/_zoom/popup_zoom.css);
@import url(../blocks/popup/__image/popup__image.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

.popup__input-error {
    font-size: 12px;
    line-height: 1;
    /* по заданию 1.25/15px, но фактически в макете заверстано 1.0/12px — 
    подробности читать здесь https://app.pachca.com/chats?thread_id=329327 */
    color: #FF0000;
    font-weight: 400;

    margin: 5px 0 0;
    padding: 0;
    min-height: 25px;
    display: flex;

    opacity: 0;
    transition: opacity 0.3s;

    /* position: absolute;
    top: calc(100% + 5px);
    left: 0; */
    /* position: absolute;
    width: 164px;
    height: 12px;
    left: 110px;
    top: 500px;*/
}

.popup__input-error:last-of-type {
    margin: 5px 0 19px;
}

@media screen and (max-width: 618px) {
    .popup__input-error:last-of-type {
        margin: 0 0 16px;
    }
}

.popup__input-error_active {
    opacity: 1;
}

.popup__input_invalid {
    border-bottom: solid 1px rgba(255, 0, 0);
    /* outline: none; */
}

.popup__submit_inactive {
    opacity: 0.2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 2px;
}